Flask==2.0.1
SQLAlchemy==1.4.25
sqlalchemy-utils==0.37.2
PyYAML==5.4.1
paho-mqtt==1.6.1
requests==2.26.0
pytest==6.2.4
flake8==3.9.2
flask-restful==0.3.9
sqlalchemy-alembic==1.7.2
scikit-learn==0.24.2
nltk==3.5
beautifulsoup4==4.9.3